h1{
    text-align: center;
}

h2{
    position: relative;
}

#blogContainer{
    position: relative;
}

#blogContent{
    height: 100px;
    width: 50%;
}

::placeholder{
    text-align: center;
}

#blogsTitle{
    position: absolute;
    text-align: center;
    right: 0px;
    bottom: 100px;
    height: 50px;
    width: 50%;
}

#blogsContent{
    position: absolute;
    text-align: left;
    right: 0px;
    bottom: 15px;
    height: 100px;
    width: 45%;
}